# Revisão Python

In [15]:
def funcao( idade=12, nome='Fulano' ):

    texto = 'Olá {}, você tem {} anos.'.format(nome, idade)
    print(texto)
    if idade >= 18:
        print('Pode ver hentai.')
    else:
        print('Não pode não!')

In [17]:
funcao( nome='Carlos', idade=75 )

Olá Carlos, você tem 75 anos.
Pode ver hentai.

In [18]:
funcao()

Olá Fulano, você tem 12 anos.
Não pode não!

# Estruturas nativas de dados

In [28]:
#lista
lista = [3,5,7,'Olá Mundo']
print(lista)
#tupla
tupla1 = ('batata', 78)
tupla2 = (45, 22)
print(tupla2)
#dict
dicionario = { 'texto1': 45, 'texto2':'Outro texto' }
#conjunto (set)
conjunto1 = { 45, 25, 36 ,1, 28 }
conjunto2 = {25, 1, 6}
conjunto2

[3, 5, 7, 'Olá Mundo']
(45, 22)

{1, 6, 25}

In [27]:
print(conjunto1.difference( conjunto2 ))

{28, 36, 45}

# Pandas

In [25]:
import pandas as pd

In [36]:
df_games = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datasets/didaticos/video-games/vgsales_alt.csv')
df_games

                                                   Name  ... Global_Sales
0                                Imagine: Makeup Artist  ...         0.29
1      Phantasy Star Online 2 Episode 4: Deluxe Package  ...         0.03
2                      Brothers Conflict: Precious Baby  ...         0.01
3      Phantasy Star Online 2 Episode 4: Deluxe Package  ...         0.01
4                    Hyakka Hyakurou: Sengoku Ninpoujou  ...         0.02
...                                                 ...  ...          ...
16593                                     Freaky Flyers  ...         0.01
16594                                         Inversion  ...         0.01
16595                       Hakuouki: Shinsengumi Kitan  ...         0.01
16596                                      Virtua Quest  ...         0.01
16597                                        The Smurfs  ...         0.01

[16598 rows x 9 columns]